.page {
  display: flex;
  flex-direction: column;
  background-color: gainsboro;
}

.header {
  margin: 20px;
  align-self: center;
}

.header__title {
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
}

.main {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
}

.main__info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main__list {
  display: flex;
  padding: 0;
}

.main__list-item {
  width: 50%;
  margin: 10px;
  padding: 20px;
  list-style: none;
  text-align: center;
  background-color: rgb(247, 222, 184);
}

.main__part {
  text-align: center;
  margin: 10px;
  padding: 20px;
  background-color: rgb(247, 222, 184);
}

.side {
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: rgb(203, 245, 203);
}

.footer {
  display: flex;
  margin: 10px;
  justify-content: space-around;
}

.footer__item {
  padding: 20px;
  background-color: ghostwhite;
}
